.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
  }
  